doctype html
html(lang='en-us')
    include sections/head
    body
        include sections/header
        include sections/hero
        include sections/about
        include sections/content
        include sections/footer