.contacts
    a.contact(href="tel:+3809322244")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text +3809322244 
    a.contact(href="mailto:vovatar199627v@gmail.com")
        i.fa.fa-envelope-open.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text vovatar199627v@gmail.com
    a.facebook-icon(href="https://www.facebook.com")
        i.fa.fa-facebook.facebook-icon__element(aria-hidden="true")   