nav.nav
    - const items = {"Home": "#1", "About us": "#2", "Our Approch": "#3", "Our Work": "#3"}
        for s, n  in items
            if n === "Home"
                a.nav__link.nav__link--active(href=s)= n
            else
                a.nav__link(href=s)= n 