nav.nav
    - const items = {"header": "Home", "about": "About us", "approch":  "Our Approch", "work": "Our Work"};
        for s, key in items
            if s === "Home"
                a.nav__link.nav__link--active(href="#" data-link=key )= s
            else
                a.nav__link(href="#" data-link=key)= s 